[submodule "Mobile Wired/Classes/TBXML"]
	path = Mobile Wired/Classes/TBXML
	url = https://github.com/71squared/TBXML
[submodule "Mobile Wired/Classes/GCDAsyncSocket"]
	path = Mobile Wired/Classes/GCDAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "Mobile Wired/Classes/ViewDeck"]
	path = Mobile Wired/Classes/ViewDeck
	url = https://github.com/Inferis/ViewDeck.git
[submodule "Mobile Wired/Classes/MBProgressHUD"]
	path = Mobile Wired/Classes/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Mobile Wired/Classes/PrettyKit"]
	path = Mobile Wired/Classes/PrettyKit
	url = https://github.com/vicpenap/PrettyKit.git
[submodule "Mobile Wired/Classes/BlockAlerts"]
	path = Mobile Wired/Classes/BlockAlerts
	url = https://github.com/Lyc0s/BlockAlertsAnd-ActionSheets.git
